* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%
}

body {
  min-height: 100vh;
  background-color: #F0F2F5;
}


.messages {
  font-family: 'Montserrat', sans-serif;
}

.color {
  color: #232555
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 35px;
}

.handle-task-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 60%;
}

.add-task-input {
  flex: 1;
  height: 50px;
  font-size: 18px;
  border-style: solid;
  border-color: rgba(192, 190, 190, 0.904);
  border-width: 1px;
  text-indent: 20px;
  border-radius: 5px;
  /* box-shadow: 0px 3px 2px -2px rgba(102, 102, 102, 0.904); */
}

.add-task-input:focus {
  outline: none;
  border-style: solid;
  border-color: #444791;
  border-width: 1px;
  transition: 0.3s;
}

.add-task-button {
  padding: 13px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 50px;
}

.delete-all-tasks-button {
  height: 40px;
  width: 200px;
  border-radius: 5px;
  border: none;
  background-color: #FF1943;
  color: white;
  font-size: 16px;
}

.check-all-tasks-button {
  height: 40px;
  width: 200px;
  border-radius: 5px;
  border: none;
  background-color: #444791;
  color: white;
  font-size: 16px;
}

.add-task-button {
  margin-left: 15px;
  background-color: #444791;
  color: white;
  font-size: 20px;
}

.add-task-button:hover {
  background-color: #2b2d6d;
}

.check-all-tasks-button:hover {
  background-color: #303272;
}

.delete-all-tasks-button:hover {
  background-color: #860a21;
}

.tasks-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-top: 30px;
  width: 60%;
}


.container-checkbox-all {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.no-tasks {
  font-size: 30px;
  margin-left: 10px;
  text-align: center;
}

.check-buttons-container {
  width: 70%;
}

.check-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.status-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 60%;
}

.status-select {
  text-indent: 10px;
  width: 20%;
  height: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.status-select:focus {
  outline: none;
}

