* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  max-width: 100%;
  width: 100vw;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #F0F2F5;
  margin: 0px 0px 0px 0px;
  overflow-x: hidden;
  user-select: none;
}

.loading-profile {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #F0F2F5;
  z-index: 2;
  font-size: 28px;
  color: #2b2d6d;
}

.loading-icon {
  margin-top: 20%;
  width: 200px;
  height: 200px;
}

.loading-profile-content {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  overflow: hidden;
}
.loading-profile-content h1 {
  margin-bottom: 100px;
}

.loading-profile-content h1 {
  margin-bottom: 100px;
}

.messages {
  font-family: 'Montserrat', sans-serif;
  color: grey;
  font-weight: 600;
}

.color {
  color: #333333
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 35px;
}

.header-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 101%;
  height: 60px;
  background-color: white;
  font-size: 28px;
  color: #2b2d6d;
  font-weight: 1000;
  z-index: 1;
  box-shadow: 0px 3px 2px -2px rgba(182, 182, 182, 0.904);
}

.header-title {
  margin-left: 20px
}

.profile-picture-home {
  top: 20px;
  left: 660px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 25px;
}

.title-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 70px;
}

.handle-task-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 60%;
}

.add-task-input {
  flex: 1;
  height: 50px;
  font-size: 18px;
  border: 1px solid rgba(192, 190, 190, 0.904);
  text-indent: 30px;
  border-radius: 5px;
  /* box-shadow: 0px 3px 2px -2px rgba(102, 102, 102, 0.904); */
}

.add-task-input:focus {
  outline: none;
  border-style: solid;
  border-color: #444791;
  border-width: 1px;
  transition: 0.3s;
}

.add-task-button {
  padding: 13px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 50px;
  cursor: pointer;
}

.delete-all-tasks-button {
  height: 40px;
  width: 200px;
  border-radius: 5px;
  border: none;
  background-color: #FF1943;
  color: white;
  font-size: 16px;
}

.check-all-tasks-button {
  height: 40px;
  width: 200px;
  border-radius: 5px;
  border: none;
  background-color: #444791;
  color: white;
  font-size: 16px;
}

.add-task-button {
  margin-left: 15px;
  background-color: #444791;
  color: white;
  font-size: 20px;
}

.add-task-button:hover {
  background-color: #2b2d6d;
}

.check-all-tasks-button:hover {
  background-color: #303272;
}

.delete-all-tasks-button:hover {
  background-color: #860a21;
}

.tasks-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-top: 30px;
  width: 60%;
}

.container-checkbox-all {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.no-tasks {
  font-size: 30px;
  margin-left: 10px;
  text-align: center;
}

.check-buttons-container {
  width: 70%;
}

.check-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.status-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 60%;
  gap: 20px 
}

.search-container {
  position: relative;
  display: flex;
  flex: 1;
}

.search-button {
  position: absolute;
  width: 70px;
  height: 40px;
  top: 5px;
  right: 5px;
  background-color: #444791;
  color: white;
  font-style: bold;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.search-button:hover {
  background-color: #2b2d6d;
  cursor: pointer;
}

.search-input {
  flex: 1;
  height: 50px;
  font-size: 18px;
  border-style: solid;
  border-color: rgba(192, 190, 190, 0.904);
  border-width: 1px;
  text-indent: 30px;
  border-radius: 5px;
  /* box-shadow: 0px 3px 2px -2px rgba(102, 102, 102, 0.904); */
}

.search-icon {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 10px;
  top: 17px;
  font-size: 28px;
  color: grey;
}

.search-icon:hover {
  background-color: #2b2d6d;
}

.search-input:focus {
  outline: none;
  border-style: solid;
  border-color: #444791;
  border-width: 1px;
  transition: 0.3s;
}

.status-select {
  text-indent: 10px;
  width: 20%;
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border: 1px solid rgba(192, 190, 190, 0.904);
}

.status-select:focus {
  outline: none;
  border: 1px solid rgba(192, 190, 190, 0.904);
}

.status-option {
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

.logout-container {
  position: relative;
}
.logout-container:hover {
  cursor: pointer;
}

.user-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 170px;
  width: 200px;
  background-color: #FCFCFC;
  top: 65px;
  right: 50px;
  border-radius: 8px;
  font-size: 18px;
  z-index: 1;
  /* border: 1px solid grey; */
  box-shadow: 0 0 10px 6px #DDDFE2;
}

.user-dropdown-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
}

.dropdown-message {
  font-size: 16px;
  font-weight: 400;
  color:#1E1E1E;
  user-select: none;
  text-decoration: none;
}

.item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  padding: 5px 7px;
}

.item-container:hover {
  background-color: #F2F2F2;
  border-radius: 5px;
  cursor: pointer;
}

.item-container p {
  margin-left: 10px;
  
}

.icon-container {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e9ec;
}

.icon {
  width: 18px;
  height: 18px;
  color: #1C1D21;
}

.exit {
  margin-left: 5px;
}

.logout-icon {
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 10px;
  top: 37px;
  right: 20px;
  color: #2b2d6d;
  background-color: #F0F2F5;
  border-radius: 50%;
  border: 2px solid rgb(160, 158, 158);
}
