body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}

.modal-content {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 5px;
  max-width: 600px;
  min-width: 300px;
  width: 500px;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from { top:-300px; opacity:0 }
  to { top: 200; opacity:1 }
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.buttons-update {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button {
  margin-top: 15px;
  padding: 7px 30px;
  border-radius: 2px;
  border: none;
  color: white;
  text-align: center;
}

.cancel {
  background-color: #C1C1C1;
}

.cancel:hover {
  background-color: #979494;
}

.modal-content p, h2 {
  text-align: center;
}

.font {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
}

.modal-test {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-icon-update {
  height: 20px;
  width: 20px;
  color: #86acf1;
  margin-left: 10px;
}

.update {
  background-color: #286ef1;
}

.update:hover {
  background-color: #082f77;
}


.modal-header {
  display: flex;
}

.modal-header h2 {
  color: #2160d4;
}

.task-update-input {
  width: 100%;
  height: 50px;
  font-size: 18px;
  border-style: solid;
  border-color: rgba(192, 190, 190, 0.904);
  border-width: 2 px;
  text-indent: 20px;
  border-radius: 5px;
}
