.header-container-settings {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  font-size: 28px;
  color: #2b2d6d;
  height: 60px;
  font-weight: 1000;
  z-index: 1;
  box-shadow: 0px 3px 2px -2px rgba(182, 182, 182, 0.904);
}

.header-title-settings {
  cursor: pointer;
  text-decoration: none;
  font-size: 28px;
  color: #2b2d6d;
  font-weight: 1000;
  margin-left: 14px;
}

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-container button {
  padding: 13px;
  margin-right: 10px;
  border-radius: 50%;
  border: none;
  background-color: #E8E9EC;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.exit-icon {
  font-size: 20px;
  margin-left: 3px;
  margin-top: 3px;
}

.settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #F0F2F5;
  padding: 200px;
}


.settings-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
  justify-content: space-between;
  position: relative;
}

.settings-header h2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.camera-icon-settings {
  position: absolute;
  width: 20px;
  top: 35px;
  height: 25px;
  bottom: 10px;
  right: 2px;
  color: #444791;
  cursor: pointer;
}

.profile-picture-settings {
  top: 20px;
  left: 650px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.settings-content {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.update-picture {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.update-picture button {
  padding: 5px 5px;
  border: 1px solid rgb(207, 207, 207);
  outline: none;
  border-radius: 3px;
  font-weight: bold;
  color: white;
  background-color: #444791;
  cursor: pointer;
}

.ul-container {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
  border-bottom: 1px solid #AAAAAA;
  border-top: 1px solid #AAAAAA;
  padding: 15px 0px;
}

.line {
  border: 1px solid #EBEDF0;
}

.li-box {
  display: flex;
  padding: 10px 2px;
  align-items: baseline;
  border-radius: 3px;
  width: 100%;
}

.li-content {
  display: flex;
  padding: 15px 2px;
  align-items: baseline;
  border-radius: 3px;
  cursor: pointer;
}

.li-content-p {
  display: flex;
  flex: 1;
}

.li-content:hover {
  background-color: #f3f3f3;
}

.li-content:hover .li-edit {
  text-decoration: underline;
}

.li-header {
  width: 100px;
  margin-left: 10px;
  font-weight: bold;
}

.li-content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.li-edit {
  width: 30px;
  margin-right: 10px;
  color: #444791;
}

.li-edit {
  cursor: pointer;
}

.li-content-edit-name {
  height: 200px;
  font-weight: bold;
  background-color: #F2F2F2;
  padding: 15px 2px;
}

.li-content-edit-email {
  height: 200px;
  font-weight: bold;
  background-color: #F2F2F2;
  padding: 15px 2px;
}

.li-content-edit-password{
  height: 200px;
  font-weight: bold;
  background-color: #F2F2F2;
  padding: 15px 2px;
}

.edit-name-header {
  width: 250px;
  margin-left: 10px;
}

.edit-password-header {
  width: 250px;
  margin-left: 10px;
}

.observation {
  padding: 15px;
  width: 100%;
  font-size: 14px;
  background-color: #DADDE1;
  border-radius: 5px;
}

.header {
  font-weight: 500;
}

.edit-name-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #606770;
  gap: 20px;
}

.message-color {
  color: #606770;
}

.edit-password-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #606770;
  gap: 20px;
}

.edit-name-content-header-email {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
}

.edit-password-content-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
}

.error-message {
  font-size: 14px;
  color: red;
  margin-left: 16px;
  margin-bottom: 5px;
}


.main-password-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.tittle-password-names {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 180px;
  gap: 10px;
}

.tittle-password-names label {
  height: 25px;
}

.tittle-password-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tittle-password-inputs input {
  height: 25px;
}

.main-password-container {
  display: flex;
  flex-direction: column;
}

.message {
  font-size: 14px;
  margin-bottom: 25px;
}

.input-edit {
  margin-left: 10px;
  height: 25px;
  width: 200px;
  border-radius: 3px;
  border: 1px solid grey;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
  padding-top: 10px;
  border-top: 1px solid grey;
}

.button-editing {
  padding: 5px 8px;
  border: 1px solid rgb(207, 207, 207);
  outline: none;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}

.obs {
  font-weight: 800;
}

.confirm-edit {
  color: white;
  background-color: #444791;
}

.cancel-edit {
  color:#7a7979;
  background-color: white;
}


.li-main-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 70%;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
}

.footer-container span {
  font-size: 12px;
  color: #7a7979;
}

.copyright {
  font-size: 10px;
}

.delete-acc-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 5px;
  background-color: white;
  border: 1px solid red;
  color: red;
  cursor: pointer;
  border-radius: 3px;
  gap: 3px;
}